---
import Layout from "../layouts/BasicLayout.astro";
import CounterReact from "../components/Counter.jsx";
import CounterVue from "../components/Counter.vue";
import Counter from "../components/Counter.astro";
import Avatar from "../components/Avatar.astro";
---

<Layout title="POC AstroJS">
  <p>Astro poc</p>
  <CounterReact client:load />
  <CounterVue client:load />
  <Counter client:load />
  <Avatar server:defer />
</Layout>
